.wrapper{
	width: 900px;
	margin: 10px auto;
}
.box{
	width: 260px;
	padding: 10px;
	margin: 50px;
	border: 1px solid #ccc;
	display: inline-block;
	text-align: center;
}
.box img{
	padding: 5px;
}
.hiden{
	display: none;
}